{% extends 'leitura/base.html' %}

{% block title %}Home - EstanteAberta{% endblock %}

{% block content %}
<div class="row row-cols-1 row-cols-md-3 g-4 mt-2">
    {% for livro in livros %}
    <div class="col">
        <div class="card h-100 shadow border-0" style="background-color: #1e1e1e; transition: 0.3s;" onmouseover="this.style.transform='scale(1.02)'" onmouseout="this.style.transform='scale(1)'">
            {% if livro.capa %}
                <img src="{{ livro.capa.url }}" class="card-img-top" alt="{{ livro.titulo }}" style="height: 400px; object-fit: cover;">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title text-info">{{ livro.titulo }}</h5>
                <p class="card-text text-secondary">Autor: {{ livro.autor }}</p>
                <p class="card-text text-light">{{ livro.sinopse|truncatewords:20 }}</p>
            </div>
            <div class="card-footer bg-transparent border-0 pb-3">
                <a href="{% url 'detalhes_livro' livro.pk %}" class="btn w-100 fw-bold" style="background-color: #00d4ff; color: #121212;">Ler Resenhas</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}